.content__lead {
  display: flex;
  flex-direction: column;
}
.content__lead-image {
  max-width: 76.8vw;
}
.content__text {
  max-width: 830px;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  margin-bottom: 132px;
}

.content__text-title {
  max-width: 830px;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.5;
  margin-right: auto;
  text-align: left;
}
.content__text-textup {
  font-size: 24px;
  max-width: 738px;
  margin-right: auto;
}
.content__text-author {
  margin-left: auto;
  font-size: 24px;
}
.content__text-textbtm {
  font-size: 16px;
  margin-right: auto;
  max-width: 722px;
}

@media screen and (max-width: 768px) {
  .content__lead-image {
    max-width: 100vw;
  }
  .content__text {
    max-width: 720px;

    line-height: 1.5;
    margin-bottom: 132px;
  }

  .content__text-title {
    max-width: 707px;
    font-size: 45px;

    line-height: 1.5;
  }
  .content__text-textup {
    font-size: 24px;
    max-width: 720px;
  }
  .content__text-author {
    font-size: 24px;
  }
  .content__text-textbtm {
    font-size: 16px;

    max-width: 720px;
  }
}
@media screen and (max-width: 320px) {
  .content__lead-image {
    max-width: 320px;
    margin: 0%;
  }

  .content__text {
    max-width: 288px;
    margin: 5%;
  }

  .content__text-title {
    max-width: 288px;
    font-size: 32px;
  }
  .content__text-textup {
    font-size: 24px;
    max-width: 288px;
    margin: 5%;
  }
  .content__text-author {
    font-size: 24px;
  }
  .content__text-textbtm {
    font-size: 16px;
    margin: 5%;
    max-width: 288px;
  }
}
