.lead {
  display: flex;
  flex-direction: column;
}
.lead__image {
  max-width: 76.8vw;
}
.lead__text {
  max-width: 64.84vw;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  margin-bottom: 132px;
}

.lead__text_title {
  max-width: 830px;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.5;
  margin-right: auto;
  text-align: left;
}
.lead__text_up {
  font-size: 24px;
  max-width: 738px;
  margin-right: auto;
}
.lead__text_author {
  margin-left: auto;
  font-size: 24px;
}
.lead__text_btm {
  font-size: 16px;
  margin-right: auto;
  max-width: 722px;
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 100vw;
  }
  .lead__text {
    max-width: 720px;

    line-height: 1.5;
    margin-bottom: 132px;
  }

  .lead__text_title {
    max-width: 707px;
    font-size: 45px;

    line-height: 1.5;
  }
  .lead__text_up {
    font-size: 24px;
    max-width: 720px;
  }
  .lead__text_author {
    font-size: 24px;
  }
  .lead__text_btm {
    font-size: 16px;

    max-width: 720px;
  }
}
@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
  }

  .lead__text {
    max-width: 288px;
    margin: 5%;
  }

  .lead__text_title {
    max-width: 288px;
    font-size: 32px;
  }
  .lead__text_up {
    font-size: 24px;
    max-width: 288px;
    margin: 5%;
  }
  .lead__text_author {
    font-size: 24px;
  }
  .lead__text_btm {
    font-size: 16px;
    margin: 5%;
    max-width: 288px;
  }
}
